@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#111111] text-white
}


.bg-glass {
  background: rgba(116, 111, 111, 0.45);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 32px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bg-glass-input {
  background: rgba(116, 111, 111, 0.45);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 12px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}